name: "Build and Release"

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "Build Extension"
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build Chrome Extension
        run: npm run build:chrome

      - name: Create Zip
        run: |
          cd dist-chrome
          zip -r ../TMSCaptcha-chrome.zip *
          cd ..

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: TMSCaptcha-chrome
          path: TMSCaptcha-chrome.zip

  release:
    name: "Tagged Release"
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: "ubuntu-latest"

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: TMSCaptcha-chrome

      - name: Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            TMSCaptcha-chrome.zip
